@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    --font-principal:'Rubik Dirt', cursive;
    --font-secundaria:  'Caveat', cursive;
    --font-padrao: 'Open Sans', sans-serif;
    --cor-principal: black;
    --cor-secundaria: rgb(255, 102, 0);
    --cor-secundaria-fx: rgb(255, 102, 0, 0.4);
    --cor-terciaria: rgba(0, 0, 0, 0.553);
    --cor-quarternaria: white; 
}

header{
    font: normal normal 1em var(--font-padrao);
    text-align: center;
    padding: 80px 0px;
    background-color: var(--cor-principal);
}

h1{
    font: normal normal 8vw var(--font-principal);
    color: var(--cor-secundaria);
    
}

header p{
    color: var(--cor-quarternaria);
}
header a{
    color: var(--cor-quarternaria);
    font-weight: bold;
    text-decoration: none;
    line-height: 10px;
    padding: 2px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all 400ms ease;
}
header a:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    border-radius: 5px;
    transition: all 2s ease;
    background-color: var(--cor-secundaria-fx);
}
header a:hover:before{
    height: 25px;
}

main{
    font: 900 normal 4vw var(--font-secundaria);
    color: var(--cor-principal);
}
main p{
    margin: 100px 50px;
    line-height: 7vw;
}
#imagem1{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed, scroll;
    background-size: cover;
    background-position: 60% 100%;
    padding: 60px 40px;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.604);
}
#imagem1 p{
    padding: 10px;
    background-color: var(--cor-terciaria);
    max-width: fit-content;
    color: var(--cor-quarternaria);
    margin: 0px;
}

#imagem2{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed, scroll;
    background-size: cover;
    padding: 60px 40px;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.604);
}
#imagem2 p{
    padding: 10px;
    background-color: var(--cor-terciaria);
    max-width: fit-content;
    color: var(--cor-quarternaria);
    margin: 0px;
}

footer{
    font: normal normal 1em var(--font-padrao);
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    color: var(--cor-quarternaria);
    font-weight: bold;
    text-decoration: none;
    line-height: 10px;
    padding: 2px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all 400ms ease;
}
footer a:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    border-radius: 5px;
    transition: all 2s ease;
    background-color: var(--cor-secundaria-fx);
}
footer a:hover:before{
    height: 25px;
}