@charset "UTF-8";



body{
    font-size: 1.3em;
    background-image: url(../Imagens/background-otherscreen.jpg);
}

.nav-menu{
    top: 78px;
    height: calc(100vh - 80px);
    font-size: 0.8em;
}

main{
    max-width: 1000px;
    margin: auto;
}

main > h1{
    margin: 150px auto 40px auto;
}

main > h2{
    margin: 100px auto 5px auto;
}

main > p{
    margin: 10px;
}

.navProject{
    grid-template-columns: 1fr 1fr;
}

.navProject > a{
    width: calc(99% - 1px);
}

.main-nav{
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.main-nav > a{
    min-width: 200px;
    min-height: 100px;
}

.main-nav > a:hover{
    transform: scale(0.93);
}

/*Hovers para telas grandes*/

#button-menu:hover > .menu-barra2{
    background-color: var(--cor2);
}

.nav-menu > a:hover{
    outline: 1px solid var(--cor2);
    color: var(--cor2);
}

.navProject > a:hover{
    color: var(--cor2);
    border-color: var(--cor2);
    transform: scale(0.95);
}
.navProject > a:active{
    color: var(--cor3);
    border-color: var(--cor3);
    transition: all .1s ease;
}

.main-nav > a:hover{
    background-color: var(--cor2);
    border-color: var(--cor2);
    transform: scale(0.95);
}
.main-nav > a:active{
    background-color: var(--cor3);
    border-color: var(--cor3);
    transition: all .1s ease;
}

footer a:hover{
    text-decoration: underline solid 2px var(--cor2);
}