@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


::-webkit-scrollbar{
    width: 0px;
    height: 6px;
    background-color: var(--cor5);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor1);
    border: 2px solid var(--cor5);
    border-radius: 10px;
}



@keyframes geometricForm {
    0%{
        border-radius: 10px;
    }
    25%{
        border-radius: 0px;
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        border-radius: 0px;
        transform: rotate(-180deg);
        
    }
    100%{
        border-radius: 10px;
        transform: rotate(0deg);
    }
}


:root{
    --cor1: #FFFFFF;
    --cor2: #40C9A2;
    --cor3: #F24236;
    --cor4: #1b1b1b;
    --cor5: #131313;
    --font-main: 'Rowdies', cursive;
    --font-general: 'Sofia Sans', sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: var(--cor5);
    background-image: url(../Imagens/background-mobile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font-general);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    color: var(--cor1);
}



header{
    z-index: 1;
    position: sticky;
    top: 0px;
    margin-bottom: 50px;
    padding: 5px 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: "h m" "p m";
    justify-items: left;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.8);
    box-shadow: 0px 2px 10px rgba(10, 10, 10, 0.8);
}

header > h1{
    grid-area: h;
    font: normal normal 2em var(--font-main);
}

header > p{
    grid-area: p;
    font: 300 normal 0.7em var(--font-general);
}

#button-menu{
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 40px;
    padding: 5px;
    grid-area: m;
    justify-self: right;
    border-radius: 5px;
    transition: all .3s ease;
}

#button-menu > div{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: var(--cor1);
    border-radius: 10px;
    transition: all .3s ease;
}
.menu-barra1{
    top: 10px;
    transform: rotate(0deg);
}
.menu-barra2{
    top: 20px;
    transform: scale(1);
}
.menu-barra3{
    top: 30px;
    transform: rotate(0deg);
}

.nav-menu{
    overflow: auto;
    position: absolute;
    top: 63px;
    left: -200px;
    padding: 1px;
    width: 200px;
    height: calc(100vh - 65px);
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(10, 10, 10, 0.8);
    box-shadow: 2px 0px 10px rgba(10, 10, 10, 0.8);
    transition: all .3s ease;
}

.menu-title{
    margin: 20px 0px 0px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border: 0px;
}

.menu-title-symbol{
    width: 10px;
    height: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    transition: all .3s ease;
    animation-name: geometricForm;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.menu-title > h1{
    margin-left: 5px;
    font: normal normal 1.4em var(--font-main);
    text-decoration: underline solid var(--cor1) 2px;
}

.nav-menu > a{
    margin: 5px;
    padding: 10px 0px;
    font: 600 normal 1.1em var(--font-general);
    color: var(--cor1);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: all .3s ease;
}

.nav-menu > a:active{
    outline: 1px solid var(--cor3);
    color: var(--cor3);
    transform: scale(0.97);
    translate: all .02s ease;
}




main{
    padding: 0px 5px;
}

main > h1{
    margin: 50px auto 20px auto;
    width: fit-content;
    font: normal normal 2em var(--font-main);
    text-align: center;
}

main > h2{
    margin: 50px auto 5px auto;
    width: fit-content;
    font: 800 normal 1.5em var(--font-general);
}

main > p{
    margin: 5px;
    font: 400 normal 1em var(--font-general);
    text-align: center;
}

.navProject{
    margin: 20px 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.navProject > a{
    width: 100%;
    height: 100px;
    margin: 3px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    color: var(--cor1);
    border: 2px solid var(--cor1);
    text-decoration: none;
    border-radius: 10px;
    transition: all .3s ease;
}

.navProject > a:active{
    color: var(--cor3);
    border-color: var(--cor3);
    transition: all .08s ease;
}

.navProject > a > span{
    width: fit-content;
    display: block;
    font: 300 normal 1.1em var(--font-main);
}

.main-nav{
    width: 96%;
    margin: 5px auto;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
}

.main-nav > a{
    min-width: 100px;
    min-height: 60px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--cor1);
    color: var(--cor5);
    text-shadow: none;
    text-decoration: none;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    transition: all .3s ease;
}

.main-nav > a:active{
    background-color: var(--cor3);
    border-color: var(--cor3);
    translate: all .08s ease;
}

.main-nav > a > span{
    display: block;
    font: 900 normal 1em var(--font-general);
    text-align: center;
}



footer{
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(10, 10, 10, 0.8);
    box-shadow: 0px -2px 10px rgba(10, 10, 10, 0.8);
}
footer p{
    font: 300 normal 1em var(--font-general);
    text-align: center;
}
footer a{
    font: 500 normal 1em var(--font-main);
    color: var(--cor2);
    text-decoration: none;
    transition: all .3s ease;
}

footer a:active{
    color: var(--cor3);
    text-decoration-color: var(--cor3);
    transition: all .08s ease;
}