@charset "UTF-8";

:root{
    --cor1: rgb(64, 0, 94);
    --cor2: rgb(104, 206, 224);
    --cor3: rgb(122, 90, 173);
}

*{
    margin: 0px;
    padding: 0px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

body{
    background-color: var(--cor1);
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-rows: 30% auto;
    background-color: white;
    width: 280px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.473);
    translate: -50% -50%;
    transition: all 0.3s ease;
}

#img-login{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: grey;
    background-image: url(../imagens/img_formulario.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#img-login_telas-grandes{
    display: none;
}

#area-dados{
    font: normal normal 0.9em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

#area-dados h1{
    font: 900 normal 2.1em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: var(--cor2);
    text-shadow: 1px 1px 2px black;
    padding: 5px;
}

#area-dados p{
    margin-bottom: 20px;
}

.preencher{
    background-color: var(--cor1);
    color: var(--cor2);
    margin: 5px 3px;
    height: 35px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: right;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.preencher input{
    background-color: var(--cor2);
    border: none;
    height: 29px;
    width: 210px;
    margin-right: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.preencher:hover{
    color: var(--cor3);
    transition: all 0.3s ease-in-out;
}
.preencher:hover input{
    background-color: var(--cor3);
    transition: all 0.3s ease-in-out;
}
label:active{
    transform: scale(0.9);
}

.click{
    display: grid;
    grid-template-rows: auto auto;
    margin: 20px 3px;
}

.click > input{
    height: 35px;
    border-radius: 13px;
    border: none;
    background-color: var(--cor1);
    outline: 2px solid var(--cor1);
    color: var(--cor2);
    font: 900 normal 1.1em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s ease-in-out;
}

.click > a{
    display: grid;
    align-items: center;
    margin-top: 8px;
    height: 35px;
    border-radius: 13px;
    outline: 2px solid var(--cor1);
    background-color: var(--cor2);
    color: var(--cor1);
    text-decoration: none;
    text-align: center;
    font: 900 normal 0.8em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s ease-in-out;
}
.click > a:hover, .click > input:hover{
    transform: translateX(2%);
    transition: all 0.3s ease-in-out;
}

.click > a:active, .click > input:active{
    color: var(--cor3);
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
}