*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  padding: 10px;
}

p{
  margin: 10px;
  padding: 10px;

  color: rgb(120, 120, 120);
}

h1{
  margin: 10px;
  padding: 15px;

  color: #424242;
}

ol, ul{
  width: 300px;
  margin: auto;
  padding-bottom: 200px;
}

li{
  padding: 10px 0px;
}