.project_details{
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p{
    margin-bottom: 0.5em;
}

.project_details h1{
    background-color: #222;
    color: #ffbb33;
    padding: .4em;
}

.project_details span{
    font-weight: bold;
}

.details_container,
.service_form_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn{
    color: #fff;
    background-color: #222;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all .5s ease;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover,
.btn:focus{
    color: #ffbb33;
    transform: translate(0px, -5px);
}

.project_info{
    width: 100%;
}